{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<form method="post" action="">
	{% csrf_token %}
	{% for field in form %}
		<div class="fieldWrapper">
			{{ field.errors }}
			{{ field.label_tag }} {{ field }}
			{% if field.help_text %}
				<p class="help">{{ field.help_text|safe }}</p>
			{% endif %}
		</div>
	{% endfor %}
    <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
